KurlarServis/KurlarMvc/Connected Services/KurServis/KurServis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="KurServis" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56082/KurServis.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56082/KurServis.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56082/KurServis.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKurServis_paraBirimleriGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:paraBirimleriGetir" />
  </wsdl:message>
  <wsdl:message name="IKurServis_paraBirimleriGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:paraBirimleriGetirResponse" />
  </wsdl:message>
  <wsdl:message name="IKurServis_kurlariGetir_InputMessage">
    <wsdl:part name="parameters" element="tns:kurlariGetir" />
  </wsdl:message>
  <wsdl:message name="IKurServis_kurlariGetir_OutputMessage">
    <wsdl:part name="parameters" element="tns:kurlariGetirResponse" />
  </wsdl:message>
  <wsdl:portType name="IKurServis">
    <wsdl:operation name="paraBirimleriGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IKurServis/paraBirimleriGetir" message="tns:IKurServis_paraBirimleriGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKurServis/paraBirimleriGetirResponse" message="tns:IKurServis_paraBirimleriGetir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="kurlariGetir">
      <wsdl:input wsaw:Action="http://tempuri.org/IKurServis/kurlariGetir" message="tns:IKurServis_kurlariGetir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKurServis/kurlariGetirResponse" message="tns:IKurServis_kurlariGetir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKurServis" type="tns:IKurServis">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="paraBirimleriGetir">
      <soap:operation soapAction="http://tempuri.org/IKurServis/paraBirimleriGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kurlariGetir">
      <soap:operation soapAction="http://tempuri.org/IKurServis/kurlariGetir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KurServis">
    <wsdl:port name="BasicHttpBinding_IKurServis" binding="tns:BasicHttpBinding_IKurServis">
      <soap:address location="http://localhost:56082/KurServis.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>